torch -i https://download.pytorch.org/whl/cu118
torchvision -i https://download.pytorch.org/whl/cu118
torchaudio -i https://download.pytorch.org/whl/cu118
ftfy
packaging
regex
tqdm
albumentations==1.4.2
rdkit==2023.3.2
numpy==1.26.4
matplotlib
pandas
opencv-python
wandb
git+https://github.com/openai/CLIP.git
cairosvg
kneed